@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
.custom_blue {
  color: #081158;
}
.custom_bg_blue {
  background-color: #081158;
}
.custom_yellow {
  color: #fbb244;
}
.custom_grey {
  color: #888;
}
